// -------------------
// #GRAY SCALE
// -------------------
$grays: (
  '100': #f8f9fa,
  '200': #e9ecef,
  '300': #dee2e6,
  '400': #ced4da,
  '500': #adb5bd,
  '600': #6c757d,
  '700': #495057,
  '800': #343a40,
  '900': #212529
);

// -------------------
// #GENERIC COLORS
// -------------------
$colors: (
  'blue': #007bff,
  'indigo': #6610f2,
  'purple': #6f42c1,
  'pink': #e83e8c,
  'red': #dc3545,
  'orange': #fd7e14,
  'yellow': #ffc107,
  'green': #28a745,
  'teal': #20c997,
  'cyan': #17a2b8,
  'white': #fff
);

// -------------------
// #MAIN APP THEME
// -------------------
$app-theme-colors: (
  'primary': #10c64e,
  'secondary': map-get($grays, '200'),
  'warning': map-get($colors, 'yellow'),
  'danger': map-get($colors, 'red'),
  'success': map-get($colors, 'green')
);

// -------------------
// #GENERAL
// -------------------
$color-separator: map-get($grays, '400');
$color-app-bg: map-get($grays, '100');

// -------------------
// #MAIN HEADER
// -------------------
$color-main-header-bg: map-get($app-theme-colors, 'secondary');

// -------------------
// #CHAT
// -------------------

// CHAT MESSAGE
$color-chat-message-bg: map-get($app-theme-colors, 'secondary');
$color-chat-message-own-bg: map-get($app-theme-colors, 'primary');

// CHAT MESSAGE INPUT
$color-chat-message-input-bg: map-get($app-theme-colors, 'secondary');

// -------------------
// #BUTTON
// -------------------
$color-button-bg: map-get($app-theme-colors, 'primary');
$color-button-bg-active: darken($color-button-bg, 10%);
$color-button-bg-disabled: map-get($grays, '500');
$color-button-border: $color-button-bg-active;
$color-button-text-color: map-get($colors, 'white');
$color-button-text-color-active: map-get($colors, 'white');
